#search-container {
    display: flex;
    justify-content: center;



}


.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 5px;
}

.card p {
    font-size: 16px;
    margin-bottom: 10px;
}

.card a {
    color: #007bff;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}


#card {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;

}


.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

#card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}